html {
  background-color: #333;
  overflow-y: auto;
}

body {
  color: rgba(255, 255, 255, 0.9);
}

body, h1, h2, h3, h4, h5, h6, p, span, a, li, div {
  font-family: Montserrat, sans-serif;
}

code * {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

a {
  color: rgb(50, 205, 50);
  text-decoration: none;
  box-shadow: none;
}

ul {
  margin-bottom: 0;
}

hr {
  background-color: rgba(255, 255, 255, 0.3);
}

blockquote {
  color: rgba(255, 255, 255, 0.7);
  border-color: inherit;
}

p, .gatsby-highlight {
  margin-bottom: 1.75rem;
}

.gatsby-highlight-code-line {
  display: block;
  width: 100%;
  background: rgba(50, 205, 50, 0.15);
}
