@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500&family=Geist:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --footer-height: 37px;
    --navbar-height: 57px;
    --desktop-navbar-height: 57px;
    --content-width: 42rem;

    --accent-1: 255 255 255;
    --accent-2: 161 161 170;
    --accent-3: 113 113 122;
    --accent-4: 39 40 34;
  }

  :root[data-theme="light"] {
    --accent-1: 9 9 11;
    --accent-2: 82 82 91; /* --text-muted */
    --accent-3: 113 113 122; /* --text-subtle */
    --accent-4: 220 220 215;
  }

  a {
    @apply text-accent-1 hover:no-underline text-left;
  }

  @font-face {
    font-family: Geist;
  }
  
  body {
    font-family: 'Geist', sans-serif;
    color: var(--accent-1)
  }

  h1 {
    @apply text-3xl text-accent-1 font-black leading-loose;
  }

  h2 {
    @apply text-1.5xl font-bold leading-loose;
  }

  h3 {
    @apply text-xl font-bold leading-loose;
  }

  p,
  li {
    @apply text-base leading-relaxed;
  }

  ul,
  ol {
    @apply list-disc list-inside;
  }

  #__next {
    @apply h-full;
  }
}

.remark-highlight-code-line {
  @apply bg-accent-2-light w-full block;
}
