@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --footer-height: 37px;
    --navbar-height: 3.75rem;
    --desktop-navbar-height: 4.25rem;
    --content-width: 42rem;
  }

  a {
    @apply text-accent-2 hover:no-underline;
  }

  @font-face {
    font-family: Montserrat;
  }

  h1 {
    @apply text-3xl font-black leading-loose;
  }

  h2 {
    @apply text-1.5xl font-bold leading-loose;
  }

  p,
  li {
    @apply text-base leading-relaxed;
  }

  ul,
  ol {
    @apply list-disc list-inside;
  }

  #__next {
    @apply h-full flow-root;
  }
}

.remark-highlight-code-line {
  @apply bg-accent-2-light w-full block;
}
